/* IMPORTANT */


/* BOUTON BELLEZA INTERACTIVE  */


/* CLASS : .button_belleza */


/* Styles pour Belleza S.S*/


/* les fonts familly */


/*  font-family: 'Belleza', sans-serif;*/


/*  belleza  => text  */


/* font-family: 'Didact Gothic', sans-serif;*/


/*  Gothic  => titre */


/*  Arial  => boutons */


/*  background */


* {
    margin: 0;
    padding: 0;
    font-size: 0, 875 rem;
    /*14 px*/
    
}
/* margin pour la section : engagement/avis */
.my-150{
    margin-top: 150px;
    margin-bottom: 150px;
}

/* les class background Belleza */



/* POLICE */


/* Font family*/

p {
    font-family: 'belleza', sans-serif;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Didact Gothic', sans-serif;
}


/*fpnt-siz*/

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
}


/* PROVISOIR POUR COIFFURE */

.taille_img {
    width: 400px;
    height: 400px;
}


/* ========================================= 
            <-- header -->
 ========================================= */


/*bg Navbar */

.bg-navbar {
    background: #00c2cb;
}


/* .navbar ul li  a:hover{
    color: royalblue;
} */


/* les a dans la navbar */

.nav-link:hover {
    /* background-color: black; */
    color: red;
}


/* ========================================= 
            <-- bannière -->
 ========================================= */


/* taille de logo dans le header navbar  */

.logo {
    height: 50px;
}

.logo-image {
    position: relative;
    top: -59px;
    width: 146px;
}

.banniere .container {
    position: relative;
    min-height: 60vh;
    width: 100%;
    background-position: center;
    padding: 150px 0 150px;
    background-size: cover;
    background-position: center;
}

.banniere p {
    padding: 10px;
    font-size: 15px;
}

.banniere img {
    /* width: 50%; */
    width: 100%
}


/* ------  BOUTON A BELLEZA  ------ */

.button_belleza {
    font-style: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #555555;
    color: #555555;
    padding: 8px 28px;
    border-radius: 23px;
    margin: 30px 0 30px 0;
}

.button_belleza:hover {
    color: #00c2cb;
    border: 1px solid #00c2cb;
    /* avec la position relative ca top descend de 2px*/
}


/* Service offre taille de l'image  */

.taille_img_service_offres {
    width: 320px;
    height: 170px;
    overflow: hidden;
}


/* =======================================
        <-- LE BODY-->
=========================================*/


/* =======================================
        <-- SERVICE -->
=========================================*/

#service h3,
.service-title,
.avis-title,
.avis-title span,#engagement>h2 {
    font-size: 2.25rem;
}

#service .card-body h3 a {
    color: #dc3545;
    font-size: 1, 75rem;
}

#service .card-body {
    height: 225px;
}

#service .card-body p {
    font-family: 'belleza', sans-serif;
}


/* =======================================
        <-- SERVICE FIN -->
=========================================*/


/* =======================================
        <-- Les AVIS dans l'index -->
=========================================*/

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -65px;
}

.carousel-indicators li {
    background: aqua;
    border-radius: 50%;
    width: 16px;
    height: 4px;
}

.carousel-indicators .active {
    background: #f1f1f1f1;
}

.box {
    width: 100%;
    height: 220px;
    background-color: aliceblue;
    border-radius: 18px;
}


/* =======================================
        <-- Les AVIS FIN -->
=========================================*/


/* ========================================= 
            <-- ENGAGEMENTS -->
 ========================================= */

.img-icon {
    width: 70px;
    height: 80px;
    display: flex;
    margin: auto;
}

#engagement h3 {
    color: #00c2cb;
}
/* =======================================
        <-- Engagement FIN -->
=========================================*/


/* =======================================
        <-- Newsletter -->
=========================================*/


#newsletter {
    background-color: #E56969 !important;
    padding: 100px 40px;
}

#newsletter p {
    font-size: 18px;
}

#newsletter .email-body {
    height: 40px;

}

#newsletter .email-body > i {
    background: #6ce5e8;
    width: 40px;
    line-height: 40px;
    cursor: pointer;

}

.input-email,
.btn-email {
    /* outline-0 */
    outline: none !important;
    border: none !important ;

}

#newsletter .btn-email {
    background: #6ce5e8;
}
.input-email {
    width: 0px;
    /* transition en : focus */
    transition: 0.5s;
}
.email-body:hover>.input-email,.input-email:focus{
    width: 200px;
    padding:0 15px;
}
/* =======================================
        <-- Newsletter FIN -->
=========================================*/

/* =======================================
        <-- nous-contacter FIN -->
=========================================*/
#nous-contacter >.btn-outline:hover  {
    background-color: #6ce5e8;
}



/* =======================================
        <-- nous-contacter FIN -->
=========================================*/
.contact-body span a{
    color: #dc3545;
}

/* =======================================
        <-- Footer -->
=========================================*/

.footer a {
    font-size: 1.2rem;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 200;
}

.bg-gry {
    background-color: #494f56;
}


/* la bordure de  btn-footer */

.btn-outline {
    border: 1px solid #6ce5e8;
}


/* le hover de btn-footer "Déposer une annonce"  */

.btn-outline:hover {
    background-color: #6ce5e8;
}


/* btn a:hover */

.btn-outline a:hover {
    color: #494f56;
}

.footer {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: #f1f1f1;
}


/* all a : hover ,not les a de contacte */

.footer :hover {
    color: #6ce5e8;
}

.col {
    border-right: 1px solid white;
}

hr {
    border-bottom: 1px solid white;
    display: none;
}


/* color &  le hover des icons réseaux */

.liste-medias a {
    font-size: 30px;
}


/* facebook */

.liste-medias a:nth-child(1) i {
    color: #1DA0F0;
}


/* hover */

.liste-medias a:nth-child(1) i:hover {
    color: #f1f1f1;
    transition: transforme ease-in-out 0.2s;
}


/* instagram */

.liste-medias a:nth-child(2) i {
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: 600;
}


/* hover */

.liste-medias a:nth-child(2) i:hover {
    color: #Ffffff;
    transition: transforme ease-in-out 0.2s;
}


/* twitter */

.liste-medias a:nth-child(3) i {
    color: #1DA0F0;
}


/* hover */

.liste-medias a:nth-child(3) i:hover {
    color: #Ffffff;
    transition: transforme ease-in-out 0.2s;
}

/* =======================================
        <-- footer fin -->
=========================================*/

/* =======================================
        <-- Responsive -->
=========================================*/


/* a partir de 767px Medium md Tablette */
/* max = ou > que 767px */

@media (min-width: 767px) {
    .footer hr {
        display: flex;
    }
    /* btn déposer une annonce */
    .footer .btn {
        display: flex;
    }
    .footer .btn:hover {
        color: gray;
    }
    /* les réseaux sociaux */
    .footer-medias .liste-medias a i {
        color: #f1f1f1f1;
    }
    /* Facebook : hover */
    .liste-medias a:nth-child(1) i:hover {
        color: #1DA0F0;
        transition: transforme ease-in-out 0.2s;
    }
    /* instagram : hover*/
    .liste-medias a:nth-child(2) i:hover {
        color: transparent;
        background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
        background-clip: text;
        font-weight: 600;
    }
    /* twitter : hover */
    .liste-medias a:nth-child(3) i:hover {
        color: #1DA0F0;
    }
}


/* en dessou de 525px small sm Mobile */

@media (max-width: 576px) {
    .liste-medias {
        margin: 20px 15px 0 15px;
    }
    /* les span  */
    /* .border-left .border-right{
            display: none;
    } */
    .newsletter {
        display: none;
    }
    .carousel-indicators li:nth-child(2) {
        display: none;
    }
    .carousel-indicators li:nth-child(3) {
        display: none;
    }
    /* newsletter */
    #newsletter h1{
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 27px;
    }

    #engagement .box-col{
        /* width: 189px !important;
        display: flex;
        /* width: 150px; */
        /* flex-direction: column; 
     */
    }
    
}

@media (max-width: 767px) {
    .newsletter {
        display: none;
    }
}