
ul{
    list-style: none;
}
ul a {
    color: #f1f1f1;
}
/* ul a:hover{
    color: orange;
    text-decoration: orange;
} */

.liste-media {
    /* height: 300px; */
    /* position: relative;  */
    /* position: fixed; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* transform: translate(-287px,0); */
    /* right: 10px;
    /* justify-content: center; */

} 

.liste-media a{
    /* color: #f1f1f1;
    font-family: Playfair Display, sans-serif;
    font-size: 400; */
    /* background: teal; */
    /* background: rgba (0,0,0,0.4); */
    /* font-size: 20px; */
    /* text-decoration: none; */
    /* display: block; */
    /* margin: 7px;
    padding: 8px;
    width: 300px;
    text-align: right;
    border-radius: 50px; */
    /* transition de transform */
    /* transition-property: transform; */
} 

/* .liste-media a:hover {
    transform: translate(145px, 0);
    transition: all;  
   
} */

/* 
.liste-media i {
    margin-left: 15px;
    font-size: 30px;
    width: 30px;
    height: 30px;
} */

/* color des logo reseaux */
/* .liste-media a :nth-child(1) i {
    color: #1DA0F0;
}
.liste-media  :nth-child(2)  i {
    color: transparent;
    background-image: linear-gradient(45deg,#FFDF9E,#E56969,#8A49A1);
    -webkit-background-clip:text;
    font-weight:600;
}
.liste-media  :nth-child(3)  i {
    color: #1DA0F0;
}
.liste-media  :nth-child(4)  i {
    color: #F80000;
} */